
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app-container {
  background: url('../img/2.png'); /* Añade tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
  color: white; /* Texto blanco para contrastar con el fondo */
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate__fadeIn {
  animation: fadeIn 0.5s ease-in;
}

/* Estilos para tarjetas */
.card {
  background-color: #535353;
  color: white;
  margin-bottom: 10px;
  border: none;
}

.card img {
  border-radius: 5px;
}

.btn-success {
  background-color: #1DB954;
  border: none;
}

.btn-success:hover {
  background-color: #1ed760;
}